# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environments
.env
.venv/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Large datasets and archives
*.zip
*.tar.gz

# Image datasets
train/
test/
training_set/
test_set/
